@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


.main{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    background-color: #2f363e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.box{
    width: 100%;
    max-width: 280px;
    position: relative;
}

.clock{
    position: relative;
    width: 280px;
    height: 280px;
    background-color: #2f363e;
    border-radius: 50%;
    box-shadow: 10px 30px 50px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #2f363e;
    border: 3px solid #fff;
    border-radius: 50%;
}

.clock span{
    position: absolute;
    inset: 10px;
    color: #fff;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
}


.clock span b{
    font-size: 17px;
    opacity: 0.25;
    font-weight: 600;
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}

.circle{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}

.circle i{
    position: absolute;
    height: 50%;
    width: 2px;
    background-color: var(--clr);
    opacity: 0.5;
    transform-origin: bottom;
    transform: scaleY(0.5);
    
}

.circle2{
    width: 190px;
    height: 190px;
    z-index: 9;
}

.circle2 i{
    width: 3px;
}

.circle3{
    width: 150px;
    height: 150px;
    z-index: 8;

}

.circle3 i{
    width: 4px;
}

.circle::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--clr);
    transform: translateX(-50%);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--clr), 0 0 20px var(--clr);
}