body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("/images/background-image.png"); */
  background-color: #343640;
  background-size: auto !important;
}

code {
  font-family: 'PT Sans', sans-serif;
}


.my_masonry_grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: minmax(0vh, 100vh);
  grid-auto-flow: dense;
  grid-gap: 10px;
}

.my_masonry_grid_column{
  float: left;
  padding: 0 6px;
  box-sizing: border-box;
  display: block;
}

.my_masonry_grid_column:last-child{
  clear: right;
}
/* 
@media screen and (max-width: 1120px) {
  .my_masonry_grid_column{
      float: none;
      width: 100% !important;
      padding: 0 10px;
  }
} */